*.aux
*.out
*.pdf
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.synctex.gz
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.dvi
*.lof
obj/
doc/html
doc/latex
main
lib*.a
*.zip
transmitter
receiver
/pinguim.gif
COMMIT.tex
stats/stats_transmitter
stats/stats_receiver
stats/do_stats
stats/*.csv
stats/*.xlsx
stats/*.gif
stats/*.png
stats/*.jpg
